@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Outfit:wght@100..900&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=BioRhyme:wght@200..800&family=Outfit:wght@100..900&family=Pixelify+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  background-color: black;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  background-image: linear-gradient(to right bottom, #000000, #060606, #0c0c0c, #111111, #151515, #171719, #19181e, #1a1a22, #181a28, #151b2e, #0e1c35, #022c58);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
  overflow-y: hidden;
}


#title  {
  font-family: 'Pixelify Sans', sans-serif;
  text-shadow: #ec5db569 2px 8px 10px;
}

#logo {
  font-family: 'Audiowide', sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:hover {
  text-shadow: #ec5db569 2px 8px 10px;
}
